.user__item {
   flex: 0 1 48%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #333348;
	border-radius: 40px;
	height: 370px;
	flex-direction: column;
	margin-bottom: 30px;

    @media (max-width: 760px) {
	flex: 0 1 100%;
    }
   

}
.item__list{
    list-style-type: none;
    padding-inline-start: 0px;
}
.about__item {
    font-size: 24px;
}
.user__btn {
	color: white;
    background: #52519d;
    border-radius: 40px;
    border: none;
    padding: 20px 44px;
    font-size: 24px;
    font-family: "Sora-600";
    margin-top: 50px;
    cursor: pointer;
}

.user__item-small {
    height: 270px;
    max-width: 270px;
    .about__item {
        font-size: 20px;
    }
    .user__btn {
        font-size: 20px;
        border-radius: 30px;
        border: none;
        padding: 15px 35px;
    }
    @media (max-width: 520px) {
        max-width: unset;
        }
}

