
.footer--line{
	display: flex;
	justify-content: space-between;
	margin: 50px auto;
}
.slider__item {
	cursor: pointer;
	position: relative;
}
.slider__btn {
	font-size: 24px;
	border: none;
	background-color: #12122d;
	color: white;
	cursor: pointer;
}

