.container{
	max-width: 1470px;
	display: block;
	margin: 0 auto;
}

.users {
	max-width: 870px;
	margin: 55px auto 0px auto;
	min-width: 570px;
}
.with-posts .users{
	max-width: 570px;
}
.users__flex {
	display: flex;
	max-width: 100%;
	justify-content: center;
	align-items: center;
}
.users__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0px auto;
}

.users__row .user__item:nth-child(odd){
    margin-right: 16px;
    
}

.with-posts{
    display: flex;
}

.header {
	display: flex;
	justify-content: space-between;
	margin-top: 65px;
	margin-bottom: 55px;
}

.title {
	font-size: 24px;
	color: white;
	font-family: "Sora-400";
}
.search {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
.search__input {
	background: #333348;
	border-radius: 40px;
	width: 248px;
	height: 40px;
	border: none;
	padding: 20px 0px 20px 35px;
	color: white;
	font-size: 24px;
	&::placeholder {
		color: white;
		font-size: 24px;
	}
}
