.posts {
    max-width: 770px;
    flex: 0 1 60%;
    padding: 108px 150px;
    border-radius: 40px;
    background: #333348;
    margin: 0 16px;
}

.post__item {
    width: 100%;
    padding-bottom: 30px;
    padding-top: 30px;
    border-bottom: 1px solid #4c4c6a;
    list-style-type: none;
}


.post__title {
    font-size: 36px;
    font-family: "Sora-600";
    cursor: pointer;
    list-style-type: none;
    font-weight: bold;
    
}

.post__text {
    font-size: 36px;
    display: none;
}

.close__button {
    max-width: 145px;
    background: #52519d;
    border-radius: 38px;
    color: white;
    border: none;
    padding: 10px 32px;
    font-size: 18px;
    font-family: "Sora-600";
    margin-top: 10px;
    cursor: pointer;
}

.text {
    display: block;
    font-size: 18px;
}