body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #12122D;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

  // @font-face {
  //   font-family: "Roboto-400";
  //   @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
  // }
  // @font-face {
  //   font-family: "Sora-600";
  //   src: url(./assets/fonts/Sora-SemiBold.ttf);
  // }
  body {
    color: white;
    font-family: 'Roboto', sans-serif;
  }